body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;

  header {
    #head {
      width: 100%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1rem;
      color: violet;
      height: 2rem;
      font-weight: 800;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #section1 {
      padding: 10px 0;
      width: 100%;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      overflow: hidden;

      .status {
        width: 50px;
        height: 50px;
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        background-color: gray;
      }
    }

    #section101 {
      width: 100vw;

      .story {
        width: 100vw;
        height: 100vh;
        background-color: gray;
        display: none;
      }
    }

    #section2 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .friend {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: black;
        width: 80%;
        height: 290px;
        background-color: rgb(255, 255, 255);
        padding: 8px;

        h3 {
          padding: 5px;
          margin: 0;
          font-size: 1.5rem;
        }

        p {
          margin: 0;
          padding: 10px;
          font-size: 1.4rem;
          color: red;
          font-weight: 800;
        }

        .sr {
          border: 1px solid black;
          background-color: rgb(37, 214, 37);
          font-size: 17px;
          font-weight: 600;
          border-radius: 10px;
        }

        .img {
          flex-shrink: 0;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 2px solid black;
          background-color: gray;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
